<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="3.1.0.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net452" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net45" />
  <package id="lz4net" version="1.0.10.93" targetFramework="net452" />
  <package id="mongocsharpdriver" version="2.4.0" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.4.0" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.4.0" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.4.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="Neo4j.Driver" version="1.0.2" targetFramework="net452" />
  <package id="Neo4jClient" version="2.0.0.6" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="rda.SocketsForPCL" version="1.2.2" targetFramework="net452" />
  <package id="redis-64" version="3.0.503" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.4" targetFramework="net45" />
  <package id="SharpYaml" version="1.5.4" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
  <package id="YamlDotNet" version="4.0.0" targetFramework="net45" />
  <package id="YamlSerializer" version="1.0" targetFramework="net45" />
</packages>