<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytescout.PDFRenderer" version="8.1.0.2600" targetFramework="net452" />
  <package id="Ghostscript.NET" version="1.2.1" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net452" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.3.902" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="ServiceStack" version="4.5.4" targetFramework="net452" />
  <package id="ServiceStack.Client" version="4.5.4" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.5.4" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.5.4" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.4" targetFramework="net452" />
  <package id="Svg" version="2.2.2" targetFramework="net452" />
  <package id="YamlDotNet" version="4.0.0" targetFramework="net452" />
</packages>